/* style.css */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, rgb(6, 255, 214), rgb(55, 87, 231));
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
}

header {
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-in-out;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInUp 1s ease-in-out;
}

p {
    margin: 10px 0;
    font-size: 1.2em;
    animation: fadeInUp 1.5s ease-in-out;
}

/* Estilo para links botão */
a.button {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    background: linear-gradient(135deg, cyan, pink);
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

a.button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
