/* style.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, violet, #00ffff);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center;
    min-height: 100vh;
    text-align: center; /* Centraliza o texto horizontalmente */
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

p {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Estilo para links botão */
a.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #00ffff; /* Fundo ciano */
    color: white; /* Texto branco */
    border-radius: 10px; /* Bordas arredondadas */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave de cores */
    margin: 50px; /* Espaçamento entre os botões */
}

a.button:hover {
    background-color: #00e0e0; /* Fundo ciano mais claro ao passar o mouse */
}/* style.css */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, rgb(6, 255, 214), rgb(55, 87, 231));
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center;
    min-height: 100vh;
    text-align: center; /* Centraliza o texto horizontalmente */
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

p {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Estilo para links botão */
a.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background: linear-gradient(135deg, cyan, pink);
    color: white; /* Texto branco */
    border-radius: 20px; /* Bordas arredondadas */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave de cores */
    margin: 10px; /* Espaçamento entre os botões */
}

a.button:hover {
    background-color: #00e0e0; /* Fundo ciano mais claro ao passar o mouse */
}
